In [3]:
import numpy as np
import pandas as pd

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
sns.heatmap

<function seaborn.matrix.heatmap(data, *, vmin=None, vmax=None, cmap=None, center=None, robust=False, annot=None, fmt='.2g', annot_kws=None, linewidths=0, linecolor='white', cbar=True, cbar_kws=None, cbar_ax=None, square=False, xticklabels='auto', yticklabels='auto', mask=None, ax=None, **kwargs)>

In [6]:
round(0.4)

0

In [7]:
round(0.5)

0

In [8]:
round(0.51)

1

In [9]:
round(0.505)

1

In [10]:
round(1.51)

2

In [11]:
pwd

'C:\\Users\\rchtp\\Desktop\\Rachit Python Skillslash Practice\\Small projects\\Credit Risk'

In [17]:
df=pd.read_excel('C:/Users/rchtp/Desktop/Rachit Python Skillslash Practice/Small projects/Credit Risk/Credit_Risk_PD_Model_Dataset.xlsx')

In [18]:
df.head()

,Industry,CASH_AND_CASH_EQUIVALENTS_floored1,COST_OF_GOODS_SOLD_1,CURRENT_ASSETS_1,CURRENT_LIABILITIES_1,DEPRECIATION_1,EBITDA_1,FIXED_AND_NON_CURRENT_ASSETS_1,GROSS_PROFIT_1,INTEREST_EXPENSE_1,...,EBITDA_to_Interest_1,EBITDA_to_curr_liab_1,Cash_to_Total_assets_1,Current_Ratio_1,Liquidity_Ratio_1,Curr_to_Total_Assets_1,Gross_Margin_perc_1,Net_Income_Margin_1,Total_Liab_to_Total_Assets_2_1,Default
0,Wholesale,323773.0,NaN,476381.0,516192.0,78247.0,357842.0,1953656.0,2527734.0,59291.0,...,6.0353,0.6932,0.1332,0.9229,0.8626,0.1960,NaN,5.9466,-0.0501,0.0
1,EduArtsHealthSocial,18593.0,11753.0,21913.0,257405.0,6988.0,42274.0,668688.0,124057.0,6456.0,...,6.5479,0.1642,0.0269,0.0851,NaN,0.0317,91.3457,21.2275,-0.0472,0.0
2,Retail,202720.0,3420276.0,665190.0,373352.0,76899.0,406223.0,542187.0,1577802.0,11742.0,...,34.5947,1.0880,0.1679,1.7817,0.7335,0.5509,31.5682,5.4611,-0.3119,1.0
3,Agriculture - Other,87515.0,7905311.0,1820195.0,2153519.0,702651.0,675750.0,7409750.0,3242324.0,88218.0,...,7.6600,0.3138,0.0095,0.8452,0.2709,0.1972,29.0853,-1.0327,-0.0209,0.0
4,EduArtsHealthSocial,272938.0,237933.0,381958.0,681622.0,NaN,-515748.0,7395426.0,540762.0,179654.0,...,-2.8708,-0.7566,0.0351,0.5604,0.5241,0.0491,69.4446,-89.3035,-0.0241,0.0

In [19]:
#Explore data set with Pandas profiler : 

import pandas_profiling
from ipywidgets import interact, Button
from pandas_profiling import ProfileReport
from pandas_profiling.utils.cache import cache_file

profile = ProfileReport(df_credit_rsk,explorative = True)
profile.to_notebook_iframe()

NameError: name 'df_credit_rsk' is not defined