In [3]:
import pandas as pd
import numpy as np

In [39]:
data = {'Id': [1, 2, 3, 4, 5, 6, 7, 8],
         
        'Gender': ['M', 'M', 'F', np.nan,
                   np.nan, 'F', 'M', 'F'],
         
        'Color': ['Green', "Red", "Blue",
                  "Red", 'Pink', "Red",
                  "Green", "Orange"]}
 
# convert to data frame
df = pd.DataFrame(data)
display(df)

   Id Gender   Color
0   1      M   Green
1   2      M     Red
2   3      F    Blue
3   4    NaN     Red
4   5    NaN    Pink
5   6      F     Red
6   7      M   Green
7   8      F  Orange

In [6]:
df['Color'].unique()

array(['Green', 'Red', 'Blue', 'Pink', 'Orange'], dtype=object)

In [7]:
df.Color.unique()

array(['Green', 'Red', 'Blue', 'Pink', 'Orange'], dtype=object)

In [9]:
df.Color.value_counts(normalize=True)*100

Red       37.5
Green     25.0
Blue      12.5
Pink      12.5
Orange    12.5
Name: Color, dtype: float64

In [11]:
x=list(df.Color.unique())
len(x)

5

In [43]:
for c in df.columns:
    if df[c].dtypes == object or df[c].dtypes == str:
        x=list(df[c].unique())
        print('x: ',x)
        if len(x)>=4:
            print('old df',df)
            print('c',c)
            del df[c]
#             df.drop(c,1)
            print('new df',df)
    else:
        pass

x:  ['M', 'F', nan]
x:  ['Green', 'Red', 'Blue', 'Pink', 'Orange']
old df    Id Gender   Color
0   1      M   Green
1   2      M     Red
2   3      F    Blue
3   4    NaN     Red
4   5    NaN    Pink
5   6      F     Red
6   7      M   Green
7   8      F  Orange
c Color
new df    Id Gender
0   1      M
1   2      M
2   3      F
3   4    NaN
4   5    NaN
5   6      F
6   7      M
7   8      F

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      8 non-null      int64
 1   Gender  6 non-null      object
 2   Color   8 non-null      object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes

In [17]:
df

   Id Gender   Color
0   1      M   Green
1   2      M     Red
2   3      F    Blue
3   4    NaN     Red
4   5    NaN    Pink
5   6      F     Red
6   7      M   Green
7   8      F  Orange

In [30]:
df

   Id Gender   Color
0   1      M   Green
1   2      M     Red
2   3      F    Blue
3   4    NaN     Red
4   5    NaN    Pink
5   6      F     Red
6   7      M   Green
7   8      F  Orange

In [32]:
del df['Color']

In [44]:
df

   Id Gender
0   1      M
1   2      M
2   3      F
3   4    NaN
4   5    NaN
5   6      F
6   7      M
7   8      F

In [51]:
x= str
y= ' j'

In [52]:
x

str

In [53]:
x+y

TypeError: unsupported operand type(s) for +: 'type' and 'str'